@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

.blogs {
  font-family: "Roboto", sans-serif;
  margin-bottom: 150px;
  margin-top: 60px;
  overflow-x: hidden;
}
.blogs_page_heading_image {
  width: 450px;
}

.blogs-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 120px;
  margin-top: 50px;
}

.blogs-header > div > h1 {
  color: var(--blueText);
  font-size: 4rem;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.blogs-header > div > p {
  color: var(--blueText);
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.blogs_up {
  justify-content: center;
  height: 440px;
  display: flex;
  align-items: center;
  /* background-color: rgb(47, 53, 53); */
}

.blogs_down {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  /* background-color: rgb(156, 180, 180); */
  width: 100vw;
}

.blogcardsmall {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw;
  margin-right: 90px;
  margin-left: 90px;
  justify-content: center;
}

.blog_cards {
  /* margin-right: 20px; */
  /* margin-left: 20px; */
}

@media screen and (max-width: 600px) {
  .blogcardsmall {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 800px) {
  .blogs-header {
    flex-direction: column;
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 800px) {
  .blogs_up {
    height: 670px;
    display: flex;
  }
}

@media only screen and (max-width: 800px) {
  .blogs_up {
    height: 550px;
    display: flex;
  }
}

@media only screen and (max-width: 450px) {
  .blogs_page_heading_image {
    width: 350px;
    margin-top: 10px;
  }
}
