.blogs {
  font-family: "Roboto", sans-serif;
}

.blogs-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px 10px;
}

.blogs-header > div > h1 {
  color: var(--blueText);
  font-size: 4rem;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.blogs-header > div > p {
  color: var(--blueText);
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.blogs_up {
  justify-content: center;
  height: 440px;
  display: flex;
  align-items: center;
}

.blogs_down {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.blogcardsmall {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  width: 85vw;
  justify-content: center;
}

.blog_cards {
  margin-right: 20px;
  margin-left: 20px;
}

@media screen and (max-width: 800px) {
  .blogs-header {
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .blogs_up {
    height: 670px;
    display: flex;
  }
}

@media only screen and (max-width: 800px) {
  .blogs_up {
    height: 550px;
    display: flex;
  }
}
