.App-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.app-header-left h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: #27466f;
}

.app-header-left h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  color: #27466f;
}

@media (max-width: 800px) {
  .App-header {
    display: flex;
    flex-direction: column-reverse;
  }
  .App-logo {
    width: 300px;
    height: 300px;
  }
}
.app-header-left h1 {
  text-align: center;
}
@media (max-width: 800px) {
  .app-header-left h1 {
    text-align: center;

    margin-top: -5px;
  }
  .app-header-left h3 {
    text-align: center;

    margin-top: -5px;
  }
}

@media (max-width: 500px) {
  .app-header-left h1 {
    font-size: 30px;
  }
  .app-header-left h3 {
    font-size: 25px;
  }
}
