.Events-container {
  font-family: "Roboto", sans-serif;
}
.eventsposition {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.events-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 1.5rem 4rem;
}

.events-header > div > h1 {
  font-size: 3.125rem;
  color: var(--blueText);
  margin-bottom: 0;
}

.events-header > div > p {
  font-size: 1.4rem;
  color: var(--blueText);
}

.events-header > div > img {
  width: 85%;
}


/* .Events-container #timeline {
  content: "";
  width: 70px;
  background: #000e32;
  left: 47%;
  top: 30%;
  position: relative;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 75px;
} */

@media screen and (max-width: 900px) {
  .events-header {
    flex-direction: column;
    text-align: center;
  }
  .Events-container h2 {
    left: 5%;
  }
  .Events-container #timeline {
    left: 15%;
  }
}

@media (max-width: 560px) {
  .Events-container h2 {
    left: 5%;
    width: 350px;
  }
  .Events-container #timeline {
    left: 10%;
    width: 40px;
  }
}

@media (max-width: 400px) {
  .Events-container h2 {
    left: 20%;
    display: block;
    height: 200px;
    width: 100px;
  }
  .Events-container #timeline {
    top: 0px;
    left: 40%;
    width: 40px;
  }
}
