.Events_main {
  display: flex;
  width: auto;
  height: 50vh;
  margin: 30px 20px 10px 20px;
  box-shadow: 0px 1px 15px 4px rgba(0, 0, 0, 0.25);
}

.carousel-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.Events_main:hover {
  cursor: pointer;
  background-color: #f3eded;
}

.Events_left {
  width: 40vw;
  height: 50vh;
}

.Events_right {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Events_topic {
  height: 28px;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  font-size: 15px;
  flex-direction: column;
}
.Events_topic h1 {
  color: rgb(87, 10, 4);
  width: auto;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  margin-left: 20px;
}
.Events_title {
  height: 70px;
  justify-content: center;
  display: flex;
  font-size: 15px;
  flex-direction: column;
}
.Events_title h3 {
  color: rgb(36, 37, 37);
  margin-left: 20px;
}

.Events_des p {
  padding-left: 20px;
  display: inline-block;
  padding-right: 20px;
}
.author {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: rgb(235, 73, 10);
}

.author_img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 50%;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcLnnCx6QlUNsILizIqcdWm4lttoMqbhSlQg&usqp=CAU");
  background-size: cover;
}

.author h3 {
  margin-left: 10px;
}

@media only screen and (max-width: 800px) {
  .Events_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .Events_topic h1 {
    text-align: start;
    display: flex;
    margin-left: 20px;
  }

  .Events_left {
    width: 100vw;
    width: 80vw;
    height: 350px;
    background-color: rgb(255, 255, 255);
  }
  .Events_left img {
    margin: 0px;
    padding: 0%;
    width: 100%;
    height: 350px;
  }
  .Events_right {
    width: 80vw;
  }
}

@media only screen and (max-width: 740px) {
  .Events_main {
    height: auto;
    width: 80vw;
    width: auto;
    height: auto;
  }

  .Events_right {
    width: 80vw;
  }

  .Events_left img {
    margin: 0px;
    padding: 0%;
    width: 100%;
    height: 200px;
  }

  .Events_left {
    width: 80vw;
    height: 210px;
  }
  .Events_right {
    text-align: start;
    border-top: 1px solid black;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
  }
  .Events_topic h1 {
    text-align: start;
    margin-left: 10px;
    display: flex;
    margin-top: -10px;
    margin-left: 5px;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    color: rgb(0, 0, 0);
  }
  .Events_title h3 {
    margin-top: -15px;
    margin-left: 5px;
    font-weight: 600;

    display: flex;
    font-size: 18px;
    color: rgb(0, 0, 0);
  }
  .Events_des p {
    margin-top: -30px;
    margin-left: -15px;
    display: flex;
    color: rgb(20, 20, 20);
    font-size: 14px;
  }
  .author_img {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
  }

  .author {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .author h3 {
    font-size: 15px;
  }
}
