.footer {
  font-family: "Roboto", sans-serif;
  background-color: var(--darkGreyBg);
  margin-bottom: 0;
  color: var(--whiteText);
}

a {
  color: inherit;
  text-decoration: inherit;
}

.footer-main {
  margin: 0 5rem 0;
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 19px;
  font-weight: var(--light);
}

.site-links > ul > li {
  text-decoration: inherit;
  margin-bottom: 5px;
}

.site-links > ul > li:hover {
  color: var(--blueText);
  transition: 0.2s ease-in-out;
}

.social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.social-media-links > ul > li {
  margin-bottom: 5px;
}

.social-media-icon {
  max-width: 40px;
  filter: grayscale(90%);
  opacity: 0.2;
}
.social-media-icon:hover {
  transform: scale(1.2);
  filter: none;
  opacity: 1;
}

.footer-brand {
  text-align: center;
  padding-top: 20px;
}

.footer-brand p {
  margin-top: 5px;
}

.footer-brand > img {
  width: 200px;
}

@media screen and (max-width: 768px) {
  .footer-main {
    flex-direction: column;
    margin: 0 2rem 0;
  }
  .social-media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
