
.header {
  display: flex;
  height: 70px;
  justify-content: space-between; 
  padding: 0 0 0 1rem; 
  align-items: center;
  position: sticky;
  box-shadow: 2px 0 10px lightgrey;
  z-index: 2;
  background-color: white;
}

.aceslogo{
  object-fit: contain;
  height: 30px;

}

.headerBrand{
  color: rgb(241, 241, 241); 
  mix-blend-mode: difference;
}
.headerLink{
  margin: 5px;
  color: rgb(241, 241, 241); 
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  cursor: pointer;
  transition: 0.3s ease-out;
  padding-top: 3px;
  border-bottom: 3px solid transparent;
}
.active {
  border-color: #168AE6;  
}
.active .headerNav {
    color: #168AE6 !important;
  }
.headerNav {
  flex: 1;
font-size: 12.6px;
font-family: Averta, sans-serif;
text-transform: uppercase;
letter-spacing: 1.2px;
color: #2b2e3d;
font-weight: 600;
}

.NavMenu {
display: flex;
height: 100%;
align-items: center;
}
.headerLink:hover, NavLink:hover {
background-color: #f8f8f8;
transition: 0.3s ease-out;
text-decoration: none;
}

/* Hide Hamburger */
.header label, #hamburger { display: none; }


@media(max-width:700px)
{
  /* Show Hamburger Icon */
.header label { 
  
  display: block;
  background-color: white!important;
  color:#2b2e3d!important;
  
  border: 2px #2b2e3d solid!important;
  border-radius:1rem;
  top: 15px;
  right: 40px;
  font-style: normal;
  font-size: 1.2em;
  padding: 10px;
  cursor: pointer;
}
.aceslogo {
  margin: 20px;
  height: 50px;
}
  .header {
      display: flex;
      flex-direction:column;
      height: fit-content;
      /* margin-top:100px; */
  }

  .headerBrand{
          
          margin-left: 30px!important;
  }
  .headerNav{
          text-align: center;
  }
  .NavMenu {
          display: flex;
          flex-direction: column;
          align-items: center;     
  }

/* Toggle Show/Hide Menu */
.NavMenu .headerLink { display: none; }
.header input:checked ~ .NavMenu .headerLink { display: block; } 
}

.headerButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
}

.primary-button {
  margin: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 4px;
  background-color: #168AE6;
  color: white;
  font-family: Averta, sans-serif;
  font-weight: 500;
  font-size: 14.8px;
  letter-spacing: 0.8px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.primary-button p {
  color: white;
  font-family: Averta, sans-serif;
  font-weight: 500;
  font-size: 14.5px;
  letter-spacing: 0.8px;
  line-height: 20px;
}


.secondary-button {
  margin: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 4px;
  background-color: #e0e0e0;
  color: #555555;
  font-family: Averta, sans-serif;
  font-weight: 600;
  font-size: 14.5px;
  letter-spacing: 0.7px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.secondary-button p {
  color: #555555;
  font-family: Averta, sans-serif;
  font-weight: 500;
  font-size: 14.5px;
  letter-spacing: 0.7px;
  line-height: 20px;
}
.userAvatar{
  background-color: #b516e6 !important;
  cursor: pointer;
}