/* styles for header */

.header {
    display: flex;
    justify-content: right;
    font-size: x-large;
    
}
.headerLink {
    text-decoration: none;
}
.header p {
   
    /*  margin: 10px; */
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
    color: #27466F;
    
}