/* styles for header */

.header {
	float: right;
    display: flex;
    justify-content:right;
    font-size: x-large;
    
}
.headerLink {
    text-decoration: none;
}
.header p {
   
    /*  margin: 10px; */
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
    color: #27466F;
    
}

@media only screen and (max-width: 900px)
{
	.header
	{
		font-size:20px;
	}
	.header p {
   
    /*  margin: 10px; */
    margin-left: 20px;
    margin-right: 20px;   
	}

   
}