.infoBlock {
    flex: 1;
    min-width: 270px;
    min-height: 250px;
    max-width: 270px;
    max-height: 250px;
    margin: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 15px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    place-items: center;
    margin-bottom: 30px;
    
}
.infoBlockAvatarContainer {
    flex: 50%;
}
.infoBlockAvatar {
    cursor: pointer;
    margin: 20px;
    margin-bottom: 10px!important;
    height: 100px !important;
    width: 100px !important;
    
}
.infoBlock>.details > b {
    
    margin: 0 !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: var(--bold);
    font-size: 24px;
    /* line-height: 28px; */
    text-align: center;
    letter-spacing: 0.05em;

    color: var(--darkBlueText)
}
.infoBlock>.details > p {
   
    margin: 0 !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: var(--bold);
    font-size: 24px;
    /* line-height: 28px; */
    text-align: center;
    letter-spacing: 0.05em;

    color: var(--greyText);


}
.details {
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
