.teamMembersHeader{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

.teamName {
    font-family: Roboto;
    font-style: normal;
    font-weight: var(--bold);
    font-size: 64px;
    line-height: 75px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    color: var(--blueText);
    margin-left: 60px;


}
.teamLogo {
    width: 350px !important;
    height: 350px !important;
    margin-right: 60px;
}
.teamMembers {
    display: grid;
    place-items: center;
}
.teamMembersHeads {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teamMembersMembers {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
}

@media(max-width:800px) {
    .teamMembersHeader {
        flex-direction: column;
        justify-content: center;
        align-self: center;

    }
    .teamName{
        align-self: center;
        margin: 0 ;
    }
    .teamLogo {
        align-self: center;
        margin: 0;
    }
}