/* styles for team page */
/* styles for team page */
.team {
    display: grid;
    place-items: center;
}

.teamCoordinators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teamNames {
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.teamheader {
	display: flex;
	
	justify-content: center !important;
	text-align: center;
	/* margin: 30px;
	margin-top: 10px !important; */
}
.teampagelogo {
	flex: 1;
	width: 35vw;
	height: 26vw;
	object-fit: contain;
}
.teampagetitle {
	flex: 1;
	
	align-self: center !important;
}
.teampagetitle  h1{
margin: 0;
font-family: Roboto;
font-style: normal;
font-weight: var(--bold);
font-size: 3.125rem;
letter-spacing: 0.04em;
color: var(--blueText);
text-align: center;
}
.teampagetitle p {
margin: 0;
font-family: Roboto;
font-style: normal;
font-weight: var(--medium);
font-size: 30px;
align-items: center;
letter-spacing: 0.04em;
color:var(--blueText);

text-align: center;
}

@media(max-width:768px){
	.teamheader {
		align-self: center;
		display: flex;
		flex-direction: column;
		justify-content: center !important;
	}
	.teampagelogo  {
		align-self: center;

	}
	.teampagetitle {
		align-self: center !important;
	}
	.teampagetitle p,h1 {
		text-align: center !important;

	}
}